.box p {

    display: inline-block;
}

h1 {
    color: red;
    text-align: center;
    font-style: italic;
    font-family: "Tangerine", serif;
    font-size: 400%;
    font-weight: bold;
}

#opa {
    margin-left: 10px;
    background-color: green;
    cursor: pointer;
}

#opa1 {

    margin-left: 50px;
    background-color: LightCoral;
    cursor: pointer;
}

#zemo {
    color: red;
    font-size: 200%;
    margin-left: 40px;
    font-family: "Times New Roman", Georgia, Serif;
    font-style: italic;
    font-weight: bold;
}

#stojko {
    color: red;
    font-size: 200%;
    margin-left: 55px;
    font-family: "Times New Roman", Georgia, Serif;
    font-style: italic;
    font-weight: bold;
}

body {


    background-image: url("../dance.gif");
    background-repeat: no-repeat;
}

#opa2 {
    margin-left: 50px;
    background-color: Aqua;
    cursor: pointer;
}

#container {
    background-color: Turquoise;
    width: 280px;
    position: relative;
    left: 630px;
    top: 266px;
    border-color: thick black;
    border-style: solid;
}

#space {
    color: red;
    font-size: 250%;
    margin-left: 35px;
    font-family: "Times New Roman", Georgia, Serif;
    font-style: italic;
    font-weight: bold;
}